In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2021-04-13 15:54:06,-21.2000,-175.2000,68.00,94,20,4.61
1,1,Arraial Do Cabo,BR,2021-04-13 15:50:10,-22.9661,-42.0278,80.60,61,20,14.97
2,2,Chokurdakh,RU,2021-04-13 15:54:07,70.6333,147.9167,-10.86,98,20,6.53
3,3,Lorengau,PG,2021-04-13 15:54:07,-2.0226,147.2712,77.11,84,100,9.93
4,4,Grootfontein,NaN,2021-04-13 15:54:07,-19.5667,18.1167,74.26,37,5,9.22

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [11]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [32]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Heatmap of percent windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [37]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Arraial Do Cabo,BR,2021-04-13 15:50:10,-22.9661,-42.0278,80.60,61,20,14.97
3,3,Lorengau,PG,2021-04-13 15:54:07,-2.0226,147.2712,77.11,84,100,9.93
6,6,Ambilobe,MG,2021-04-13 15:54:08,-13.2000,49.0500,75.78,88,9,1.66
13,13,Sur,OM,2021-04-13 15:54:11,22.5667,59.5289,83.93,45,0,4.92
16,16,Hambantota,LK,2021-04-13 15:54:12,6.1241,81.1185,80.60,100,20,1.14
18,18,Butaritari,KI,2021-04-13 15:54:13,3.0707,172.7902,81.86,75,82,9.66
19,19,Nouadhibou,MR,2021-04-13 15:54:13,20.9310,-17.0347,84.20,42,43,16.11
20,20,Harper,LR,2021-04-13 15:54:13,4.3750,-7.7169,85.28,70,100,7.96
23,23,Hurghada,EG,2021-04-13 15:54:14,27.2574,33.8129,77.00,29,0,11.50
26,26,Georgetown,MY,2021-04-13 15:50:14,5.4112,100.3354,81.00,88,20,5.75

In [44]:
preferred_cities_df.count()

City_ID       181
City          181
Country       178
Date          181
Lat           181
Lng           181
Max Temp      181
Humidity      181
Cloudiness    181
Wind Speed    181
dtype: int64

In [45]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1   Arraial Do Cabo      BR     80.60 -22.9661  -42.0278
3          Lorengau      PG     77.11  -2.0226  147.2712
6          Ambilobe      MG     75.78 -13.2000   49.0500
13              Sur      OM     83.93  22.5667   59.5289
16       Hambantota      LK     80.60   6.1241   81.1185
18       Butaritari      KI     81.86   3.0707  172.7902
19       Nouadhibou      MR     84.20  20.9310  -17.0347
20           Harper      LR     85.28   4.3750   -7.7169
23         Hurghada      EG     77.00  27.2574   33.8129
26       Georgetown      MY     81.00   5.4112  100.3354

In [46]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [59]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [63]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Arraial Do Cabo,BR,80.60,-22.9661,-42.0278,Pousada Porto Praia
3,Lorengau,PG,77.11,-2.0226,147.2712,Lorengau Harbourside Hotel
6,Ambilobe,MG,75.78,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe
13,Sur,OM,83.93,22.5667,59.5289,Sur Plaza Hotel
16,Hambantota,LK,80.60,6.1241,81.1185,Bungalow 63

In [71]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [73]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))