## Deliverable 3. Create a Travel Itinerary Map.

In [41]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [42]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,1,Abha,SA,68.00,clear sky,18.2164,42.5053,Abha Hotel
1,7,Bambous Virieux,MU,80.01,broken clouds,-20.3428,57.7575,Casa Tia Villa
2,10,Luang Prabang,LA,74.80,overcast clouds,19.8856,102.1347,Villa Oasis
3,11,Vaini,TO,77.00,few clouds,-21.2000,-175.2000,Keleti Beach Resort
4,14,Lorengau,PG,81.73,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel

In [43]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [116]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [190]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

# Locate 4 close cities in desired country of travel
vacation_df[(vacation_df['Country']=='IN')]

vacation_start = vacation_df.loc[vacation_df["City"] == "Dwarka"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Dwarka"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Kiraoli"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Karera"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Yarada"]

In [184]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = tuple(vacation_start[["Lat", "Lng"]].to_numpy()[0])
end = tuple(vacation_end[["Lat", "Lng"]].to_numpy()[0])
stop1 = tuple(vacation_stop1[["Lat", "Lng"]].to_numpy()[0])
stop2 = tuple(vacation_stop2[["Lat", "Lng"]].to_numpy()[0])
stop3 = tuple(vacation_stop3[["Lat", "Lng"]].to_numpy()[0])

In [185]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
directions_layer = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(directions_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [186]:
# 8. To create a marker layer map between the four cities.
#Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,40,Dwarka,IN,80.47,clear sky,22.2394,68.9678,Hotel Narayan Avezika Comfort
1,347,Kiraoli,IN,78.93,broken clouds,27.1500,77.7833,Taj Hotel
2,329,Karera,IN,85.64,broken clouds,25.4667,78.1500,à¤¸à¤¾à¤¹à¥ à¤à¤¾à¤ à¤à¤¾à¤°à¥à¤¨à¤°
3,200,Yarada,IN,80.60,mist,17.6500,83.2667,Jeevan

In [187]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
trip_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [188]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=trip_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))